<main>
    <style>
        table, tr, td{
             border: 1px solid black;
        }
    </style>
   <table>
    <% 
    if(msg.msgError != null)
    {%>
        <div class="<%= msg.msgError.class %>">
            <p><%= msg.msgError.contentMsg %></p>
        </div>        
    <%}%>
     <% 
    if(msg.msgSucess != null)
    {%>
        <div class="<%= msg.msgSucess.class %>">
            <p><%= msg.msgSucess.contentMsg %></p>
        </div>        
    <%}%>
    <thead>
        <tr>
            <th>#</th>
            <th>descricao</th>
            <th>opções</th>
        </tr>
    </thead>
    <tbody>
       <% if(data){
            data.forEach(item =>{%>
                <tr>
                    <td><%= item.id_adaptalidade %></td>
                    <td><%= item.descricao_adaptalidade %></td>
                    <td><a href="/adm/adaptabilidade/edit/<%= item.id_adaptalidade %>" >EDITAR</a>
                    <a href="/adm/adaptabilidade/delete/<%= item.id_adaptalidade %>" >EXCLUIR</a></td>
                </tr>
        <% })
       }%>
    </tbody>
   </table>
</main>